
.sonidos-screen {
  background-image: url("../img/cover-song.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* <-- SUBE EL CONTENIDO */
  min-height: 100vh;
  padding-bottom: 1rem;
}



.datos-grid {
  width: 100%;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-top: 1rem;
}

/* Card 2 centrada arriba */
.datos-card:nth-child(2) {
  grid-column: 2 / 3;
}

/* Card 1 a la izquierda en segunda fila */
.datos-card:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 2;
}

/* Card 3 a la derecha en segunda fila */
.datos-card:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 2;
}

.pillar-text {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  width: 100% !important;
}
.instrument-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-top: 12px;
}

.instrument-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: rgba(255,255,255,0.12);
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.25);
}

.instrument-item b {
  color: var(--azul);
  font-size: 1.4rem;
  margin-bottom: 6px;
}

.instrument-bottom {
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}


.pillar-audio-btn {
  align-self: flex-end;     
  margin-top: 6px;

  padding: 6px 12px;
  border-radius: 999px;
  border: 2px solid var(--zelda-dorado);
  background: var(--zelda-azul);
  color: var(--blanco);
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.35);
  transition: transform .2s ease, box-shadow .2s ease, background .2s ease;
}

.pillar-audio-btn:hover {
  background: var(--zelda-azul-oscuro);
  transform: translateY(-2px);
  box-shadow: 6px 6px 0 rgba(0,0,0,0.45);
}


@media (max-width: 768px) {
  .pillar-audio-btn {
    width: auto;
  }
}