.arte-screen {
  background-image: url("../img/artistic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* <-- SUBE EL CONTENIDO */
  min-height: 100vh;
  padding-bottom: 1rem;
}


.datos-grid {
  width: 100%;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-top: 1rem;
}

/* Card 2 centrada arriba */
.datos-card:nth-child(2) {
  grid-column: 2 / 3;
}

/* Card 1 a la izquierda en segunda fila */
.datos-card:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 2;
}

/* Card 3 a la derecha en segunda fila */
.datos-card:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 2;
}
